<!-- NAVBAR -->
<div id="navbar" class="navbar-mv navbar-fixed-top">
  <!-- Logo -->
  <a href="#homepage" class="navbar-mv-brand">
    <%= image_tag "logo-MV.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-mv-right font-weight-light hidden-xs hidden-sm">

    <a href="#homepage" class="navbar-mv-item navbar-mv-link active">Accueil</a>
    <a href="#intervention" class="navbar-mv-item navbar-mv-link">Zone d'intervention</a>
    <a href="#epilation" class="navbar-mv-item navbar-mv-link">Soins</a>
    <a href="#contact" class="navbar-mv-item navbar-mv-link">Contact</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-mv-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-mv-dropdown-menu">
        <li><a href="#" class="active">Accueil</a></li>
        <li><a href="#">Zone d'intervention</a></li>
        <li><a href="#">Soins</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
