<div class="col-xs">
  <div id="homepage" class="banner">
    <div class="banner-content">
      <h1 class="text-uppercase shadow">Éstheticienne à domicile</h1>
      <h3 class="text-uppercase shadow">votre beauté, chez vous, à tout instant</h3>
      <h2 class="shadow">07.81.78.34.65</h2>
    </div>
  </div>
</div>

<div id="intervention">
  <h2>Zone d'intervention</h2>
</div>

<div id="epilation">
  <h2>epilation</h2>
</div>

<div id="contact">
  <h2>contact</h2>
</div>
