<div>
  <div id="homepage" class="banner">
    <div class="banner-content">
      <h1>Éstheticienne à domicile</h1>
      <h3>votre beauté, chez vous, à tout instant</h3>
      <h2>07.81.78.34.65</h2>
    </div>
  </div>
</div>

<div id="intervention">
  <h2>Zone d'intervention</h2>
</div>

<div id="epilation">
  <h2>epilation</h2>
</div>

<div id="contact">
  <h2>contact</h2>
</div>
